---
- name: Add Docker GPG key
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.gpg
    mode: '0644'

- name: Add Docker repository to sources list
  ansible.builtin.apt_repository:
    repo: >
      deb [arch={{ 'amd64' if ansible_architecture == 'x86_64' else 'arm64' }} 
      signed-by=/etc/apt/keyrings/docker.gpg] 
      https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    filename: docker
    state: present
    update_cache: yes

- name: Install Docker Engine
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: Enable Docker
  service:
    name: docker
    enabled: yes
    state: started

- name: Add Ubuntu user to Docker group
  user:
    name: ubuntu
    groups: docker
    append: yes